<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <label>Book Name:</label>
  <input type="text" formControlName="bookName" placeholder="enter the bookname">

  <label>Author:</label>
  <input type="text" formControlName="author" placeholder="enter the author name">

  <label>Publication:</label>
  <input type="text" formControlName="publication" >

  <label>Price:</label>
  <input type="number" formControlName="price" placeholder="enter the price">

  <label>Genre:</label>
  <input type="text" formControlName="genre" placeholder="enter the genre">

  <label>Published Date:</label>
  <input type="date" formControlName="publishedDate">

  <label>Country:</label>
  <input type="text" formControlName="country" placeholder="enter the country">

  <label>Description:</label>
  <textarea formControlName="description" placeholder="enter the description"></textarea>

  <button type="submit">Submit</button>
</form>
